*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logo {
  float: inline-start;
  display: flex;
  margin-top: 5px;
}

.main_h {
  position: fixed;
  max-height: 72px;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1; /* Mostramos la barra de navegación siempre */
  background-color: #f8f8ff;
}

a.out {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  color: black;
  margin-top: 5px;
}
a.out:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.line {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.line:after {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 1px;
  height: 2px;
  background-color: black;
}

.line:hover {
  cursor: pointer;
}

.line:hover:after {
  width: 100%;
  left: 0;
}

.menufix {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}

.menufix nav ul li a {
  text-decoration: none;
}

nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
}

nav ul li {
  display: inline-block;
  line-height: 50px;
}

nav ul a {
  color: black;
  /* Cambiamos el color del texto a negro */
  text-transform: uppercase;
  font-size: 14px;
  padding: 0 20px;
  /* Ajustamos el espacio alrededor del texto */
  font-style: normal;
  font-weight: 700;
}

nav ul a.active {
  color: black;
  /* Mantenemos el color del texto en negro */
  background-color: transparent;
  /* Hacemos el fondo transparente */
  pointer-events: none;
  cursor: default;
}

nav ul a:hover {
  color: black;
  /* Cambiamos el color del texto al pasar el cursor a un gris más oscuro */
  background-color: rgba(200, 200, 200, 0.5);
  /* Resaltamos el fondo al pasar el cursor */
}

@media only screen and (max-width: 766px) {
  .sticky {
    background-color: #101529;
  }

  .main_h {
    padding-top: 0px;
  }

  nav {
    width: 100%;
  }

  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }

  .mobile-toggle {
    display: block;
  }

  nav ul a {
    display: block;
    width: 100%;
    padding-top: 5px;
    padding-right: 0px;
    padding-bottom: 5px;
    padding-left: 0px;
    background-color: #3f4658;
    color: #9b9cb9;
    font-weight: 700;
    font-style: normal;
  }

  nav ul a:hover {
    color: #cdcddc;
    background-color: #32394b;
  }

  nav ul li {
    width: 100%;
    margin: 0;
    padding-right: 0;
    padding-left: 0;
    padding-top: 1px;
    padding-bottom: 1px;
    line-height: 30px;
  }

  nav ul a.active {
    border-bottom-style: none;
    padding-bottom: 5px !important;
    background-color: #32394b;
  }

  .line:after {
    height: 1px;
    background-color: #8a9ad2;
  }

  a.out {
    background-color: #3f4658;
    color: #9b9cb9;
  }

  a.out:before {
    color: #cdcddc;
    background-color: #32394b;
  }
}

@media all and (min-width: 767px) and (max-width: 1024px) {
  nav ul a {
    padding-right: 12px;
    padding-left: 12px;
  }
}

header.main_h {
  position: fixed;
  /* Fija el header en la parte superior */
  width: 100%;
  /* Opcional: asegura que el header ocupe todo el ancho */
  top: 0;
  /* Fija el header en la parte superior */
  z-index: 1000;
  /* Asegura que el header esté por encima de otros elementos */
}

.container-image {
  margin-left: 100px;
}

.container-text {
  margin-top: 80px;
  margin-left: 400px;
  background-color: #1e2557;
  padding-left: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  width: 400px;
  max-width: 400px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 100px;
  /* Ajusta el margen superior para dejar espacio debajo del header */
}

.seccion {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 270px;
  /* Centra los elementos horizontalmente */
}

.seccion2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 470px;
  /* Centra los elementos horizontalmente */
}

.circulo {
  width: 200px;
  height: 200px;
  background-color: #ccc;
  border-radius: 50%;
  margin-bottom: 20px;
  background-image: url(../image/gerente-leo.jpg);
  border-width: 4px;
  background-size: cover;
  border-style: solid;
  border-color: #1e95bf;
  animation: entrarDesdeDerecha 1s ease forwards; /* Animación */
  /* Espacio entre el círculo y el párrafo */
}

@keyframes entrarDesdeDerecha {
  0% {
    transform: translateX(100%); /* Empieza fuera del contenedor a la derecha */
  }
  100% {
    transform: translateX(0); /* Termina dentro del contenedor */
  }
}

.circulo img {
  max-width: 100%;
  /* Asegura que la imagen no sobrepase el tamaño del círculo */
  max-height: 100%;
  /* Asegura que la imagen no sobrepase el tamaño del círculo */
  border-radius: 50%;
  /* Hace que la imagen tenga bordes redondeados como el círculo */
}

.seccion p {
  align-items: center;
  font-size: 18px;
  width: 500px;
  margin-bottom: 70px;
  display: flex;
  text-align: justify;
  animation: entrarDesdeDerecha 3s ease forwards; /* Animación */

  /* Elimina el margen predeterminado del párrafo */
}

.seccion h1 {
  margin-bottom: 33px;
  margin-top: 20px;
  color: #1e2557;
  animation: entrarDesdeDerecha 3s ease forwards; /* Animación */
}

.seccion2 p {
  align-items: center;
  font-size: 18px;
  width: 500px;
  margin-bottom: 70px;
  display: flex;
  text-align: justify;
  animation: entrarDesdeDerecha 3s ease forwards; /* Animación */

  /* Elimina el margen predeterminado del párrafo */
}

.seccion2 h1 {
  margin-bottom: 33px;
  margin-top: 20px;
  color: #1e2557;
}

.imagen-main {
  position: relative;
  width: 100%;
  height: 600px;
  /* Altura de la imagen */
  background-image: url(../image/indexMain.jpg);
  /* Ruta de la imagen */
  background-size: cover;
  /* Ajusta la imagen para que cubra todo el contenedor */
  background-position: center;
  /* Centra la imagen */
  color: white;
  /* Color del texto */
  text-align: center;
  /* Alinea el texto en el centro */
}

.imagen-main p {
  position: absolute;
  top: 50%;
  /* Posiciona el texto en el centro vertical */
  left: 50%;
  /* Posiciona el texto en el centro horizontal */
  transform: translate(-50%, -50%);
  /* Centra el texto en relación al contenedor */
  font-size: 90px;
}

.imagen-organigrama {
  width: 100%; /* Ajusta el ancho al 100% del contenedor */
  height: 550px; /* Establece una altura fija para la imagen */
  margin: 80px auto; /* Centra el contenedor horizontalmente */
  background-repeat: no-repeat;
  background-image: url(../image/organigrama.png);
  background-size: contain; /* Ajusta el tamaño de la imagen para que quepa dentro del contenedor */
  background-position: center; /* Centra la imagen horizontalmente */
}

.container-text h1 {
  font-size: 37px;
  color: white;
}
