/* Estilos para la barra de navegación */
.main_h {
  background-color: rgb(255, 255, 255);
  /* padding: 20px; */
  position: relative;
  /* Asegura que el contenido dentro de la barra de navegación esté por encima de la capa oscura */
  z-index: 1;
  /* Asegura que la barra de navegación esté por encima de la capa oscura */
}

.nav-link-custom {
  font-weight: 700;
  color: #08507f;
  text-decoration: none;
  font-size: 17px;
}

/* Estilos para nav y side bar */
.line {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  -webkit-transition: 1s;
  transition: 1s;
}

.line:after {
  position: absolute;
  -webkit-transition: 1s;
  transition: 1s;
  content: "";
  width: 0;
  left: 50%;
  bottom: 1px;
  height: 2px;
  background-color: black;
}

.line:hover {
  cursor: pointer;
}

.line:hover:after {
  width: 100%;
  left: 0;
}

.logo {
  position: fixed;
  top: 8px;
  /* Ajusta la distancia desde la parte superior */
  left: 100px;
  /* Ajusta la distancia desde la izquierda */
  z-index: 1000;
  /* Asegura que esté por encima de otros elementos */
}

.main_h {
  position: fixed;
  max-height: 72px;
  z-index: 1000;
  width: 100%;
  height: 100%;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 1;
  background-color: white;
  border-bottom: 2px solid grey;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  top: 0;
  left: 0;
  /* margin-left: 150px; */
  margin-right: 155px;
}

h2 {
  font-size: 15px;
}

.menufix {
  width: 100%;
  max-width: 1500px;
  margin: 0 auto;
  position: relative;
  padding: 0 20px 0 2%;
  /* Ajusta el valor de padding-right según tu preferencia */
  margin-left: 980px;
  margin-top: 15px;
}

nav ul li {
  display: inline-block;
  line-height: 20px;
  margin-right: 10px;
  /* Ajusta el margen derecho según sea necesario */
  white-space: nowrap;
  /* Evita que el texto se divida en líneas */
  padding: 10px 15px;
  font-weight: 700;
  color: #08507f;
  text-decoration: none;
}

.menufix nav ul {
  margin-left: auto;
  /* Mueve el contenido de la navegación hacia la derecha */
}

/* Estilos para el sidebar */
.sidemenu {
  position: fixed;
  top: 0;
  right: -300px;
  /* Escondemos inicialmente el sidebar */
  width: 300px;
  height: 100%;
  background-color: white;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  transition: right 0.3s ease;
  /* Agregamos una transición para una animación suave */
}

.sidemenu.open {
  right: 0;
  /* Mostramos el sidebar desplazándolo hacia la izquierda */
}

/* Estilos para el botón de abrir/cerrar el sidebar */
.menu-toggle {
  display: none;
  /* Ocultamos el botón por defecto */
}

/* ----------------------------------------------------------------------------------------------- */
/* Media query de la nav de company.html para modificar */
@media only screen and (max-width: 1150px) {
  nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-right: 3%;
    /* Ajusta el margen derecho según sea necesario */
    white-space: nowrap;
    /* Evita que el texto se divida en líneas */
    font-size: 14px;
    padding: 0px 0px;
  }

  .menufix {
    margin-left: 100px;
  }
}

@media only screen and (max-width: 1895px) {
  .menufix {
    margin-left: 880px;
  }
}

@media only screen and (max-width: 1698px) {
  .menufix {
    margin-left: 650px;
  }
}

@media only screen and (max-width: 1540px) {
  .menufix {
    margin-left: 450px;
  }
}

@media only screen and (max-width: 1334px) {
  .menufix {
    margin-left: 200px;
  }

  a {
    font-weight: 700;
    color: #08507f;
    text-decoration: none;
    font-size: 14px;
  }

  .logo {
    position: fixed;
    top: 8px;
    /* Ajusta la distancia desde la parte superior */
    left: 2px;
    /* Ajusta la distancia desde la izquierda */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
  }
}

/* Media query para activar el sidebar en pantallas pequeñas */
@media only screen and (max-width: 919px) {
  /* Ocultar el menú fijo */
  .menufix {
    display: none;
  }

  /* Mostrar el botón de toggle */
  .menu-toggle {
    display: block;
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1100;
    cursor: pointer;
  }

  /* Mostrar el sidebar */
  .sidemenu {
    right: -300px;
    /* Ocultar el sidebar */
  }

  /* Ajustar los estilos de los elementos de la lista para que aparezcan en forma de lista */
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: left;
    /* Alinear el texto a la izquierda */
    margin-top: 70px;
    /* Ajustar el margen superior para evitar que se solape con el menú fijo */
  }

  nav ul li {
    display: block;
    /* Mostrar los elementos de la lista en bloque */
    padding: 10px 15px;
    /* Añadir un poco de espacio entre los elementos */
    font-weight: 700;
    color: #08507f;
    text-decoration: none;
  }

  .logo {
    position: fixed;
    top: 8px;
    /* Ajusta la distancia desde la parte superior */
    left: 10px;
    /* Ajusta la distancia desde la izquierda */
    z-index: 1000;
    /* Asegura que esté por encima de otros elementos */
  }
}

/* Fin de estilos de la nav y side bar */
