.main_h {
    background-color: rgb(255, 255, 255);
    /* padding: 20px; */
    position: relative;
    /* Asegura que el contenido dentro de la barra de navegación esté por encima de la capa oscura */
    z-index: 1;
    /* Asegura que la barra de navegación esté por encima de la capa oscura */
  }
  
  /* Estilos para nav y side bar */
  .line {
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    -webkit-transition: 1s;
    transition: 1s;
  }
  
  .line:after {
    position: absolute;
    -webkit-transition: 1s;
    transition: 1s;
    content: '';
    width: 0;
    left: 50%;
    bottom: 1px;
    height: 2px;
    background-color: black;
  }
  
  .line:hover {
    cursor: pointer;
  }
  
  .line:hover:after {
    width: 100%;
    left: 0;
  }
  
  .logo img {
    max-width: 100%;
    height: auto;
  }
  
  .logo {
    float: inline-start;
    display: flex;
    margin-top: 8px;
  }
  
  .main_h {
    position: fixed;
    max-height: 72px;
    z-index: 1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 1;
    background-color: white;
    border-bottom: 2px solid grey;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    top: 0;
    left: 0;
  }
  
  h2 {
    font-size: 15px;
  }
  
  .menufix {
    width: 100%;
    max-width: 1500px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
  }
  
  nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
  }
  
  nav ul li {
    display: inline-block;
    line-height: 50px;
    margin-right: 3%;
    /* Ajusta el margen derecho según sea necesario */
    white-space: nowrap;
    /* Evita que el texto se divida en líneas */
    padding: 10px 15px;
  }
  
  
  /* Estilos para el sidebar */
  .sidemenu {
    position: fixed;
    top: 0;
    right: -300px;
    /* Escondemos inicialmente el sidebar */
    width: 300px;
    height: 100%;
    background-color: white;
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    transition: right 0.3s ease;
    /* Agregamos una transición para una animación suave */
  }
  
  .sidemenu.open {
    right: 0;
    /* Mostramos el sidebar desplazándolo hacia la izquierda */
  }
  
  /* Estilos para el botón de abrir/cerrar el sidebar */
  .menu-toggle {
    display: none;
    /* Ocultamos el botón por defecto */
  }
  
  @media only screen and (max-width: 769px) {
  
    /* Cambiamos a diseño de sidebar en pantallas más pequeñas */
    .menufix {
      display: none;
      /* Ocultamos la barra de navegación original */
    }
  
    .menu-toggle {
      display: block;
      /* Mostramos el botón de toggle */
      position: fixed;
      top: 20px;
      right: 20px;
      z-index: 1100;
      cursor: pointer;
    }
  
    nav ul {
      list-style: none;
      overflow: hidden;
      text-align: left;
      /* Alineamos los elementos del menú a la izquierda */
    }
  
    .logo img {
      width: 20px;
      height: 20px;
      /* height: auto; */
    }
  
    .logo {
      float: inline-start;
      display: flex;
      margin-top: 8px;
    }
  }
  
  @media only screen and (max-width: 1150px) {
    nav ul li {
      display: inline-block;
      line-height: 50px;
      margin-right: 3%;
      /* Ajusta el margen derecho según sea necesario */
      white-space: nowrap;
      /* Evita que el texto se divida en líneas */
      font-size: 14px;
      padding: 0px 0px;
    }
  }
  
  @media only screen and (max-width: 750px) {
    nav ul li {
      margin-right: 0;
      /* Elimina el margen derecho */
      display: block;
      /* Muestra los elementos en bloques */
      line-height: 40px;
      /* Ajusta la altura de la línea según sea necesario */
      white-space: normal;
      /* Vuelve a la configuración normal de white-space */
      font-size: 14px;
      padding: 0px 0px;
  
    }
  }
  