/* Estilos para el fondo */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  height: 100vh;
  background: url("../image/page-social/valores.jpeg") no-repeat center center
    fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Contenedor centrado */
.container {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  max-width: 400px;
  width: 100%;
}

/* Estilos para el formulario */
.form h2 {
  margin-bottom: 20px;
  color: #333;
}

/* Estilos para los inputs */
.input {
  width: 100%;
  padding: 15px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  box-sizing: border-box;
  outline: none;
  transition: border 0.3s;
}

/* Efecto al pasar sobre el input */
.input:focus {
  border-color: #007bff;
}

/* Estilos para el botón */
.btn {
  width: 100%;
  padding: 15px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}

/* Efecto hover sobre el botón */
.btn:hover {
  background-color: #0056b3;
}
.icon-back-menu {
  position: absolute;
  top: 45px;
  left: 45px;
  font-size: 37px;
  color: #007bff;
  text-decoration: none;
}

.icon-back-menu:hover {
  color: #007bff;
}
