.card1 {
  position: relative;
  display: inline-block;
  background: #333;
  width: 250px;
  height: 336px;
  border-radius: 6px;
  padding: 1rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 2);
  overflow: hidden;
  margin: 0 1.5rem 1rem 0;
}

.card2 {
  position: relative;
  display: inline-block;
  background: #333;
  width: 250px;
  height: 350px;
  border-radius: 6px;
  padding: 1rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 2);
  overflow: hidden;
  margin-left: 1.5rem;
}

.card3 {
  position: relative;
  display: inline-block;
  background: #333;
  width: 250px;
  height: 350px;
  border-radius: 6px;
  padding: 1rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 2);
  overflow: hidden;
  margin-left: 1.5rem;
}

.card4 {
  position: relative;
  display: inline-block;
  background: #333;
  width: 250px;
  height: 350px;
  border-radius: 6px;
  padding: 1rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 2);
  overflow: hidden;
  margin-left: 8.5rem;
}

.card5 {
  position: relative;
  display: inline-block;
  background: #333;
  width: 250px;
  height: 350px;
  border-radius: 6px;
  padding: 1rem;
  color: #aaa;
  box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.2), 0 0 1rem rgba(0, 0, 0, 2);
  overflow: hidden;
  margin-left: 8.5rem;
}

/* 
----------------------------------------------
------------------------------------- */
@media screen and (min-width: 1115px) and (max-width: 1314px) {
  .card1 {
    margin-left: 180px;
  }
}

@media screen and (min-width: 486px) and (max-width: 615px) {
  .card1 {
    margin-left: 100px;
  }

  .card2 {
    margin-left: 140px;
  }
}

@media screen and (max-width: 768px) {
  .card1 {
    margin-top: 50px;
  }

  .card3 {
    margin-left: 70px;
  }
}

@media screen and (max-width: 468px) {
  .card1 {
    margin-left: 70px;
  }

  .card2 {
    margin-left: 60px;
  }

  .card4 {
    margin-left: 60px;
  }

  .card5 {
    margin-left: 60px;
  }
}
@media screen and (max-width: 835px) {
  .card2 {
    margin-top: 70px;
  }

  .card3 {
    margin-top: 70px;
  }

  .card4 {
    margin-top: 70px;
  }

  .card5 {
    margin-top: 60px;
  }
}
