body {
  overflow-x: hidden;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
p {
  margin-bottom: 0px;
  font-size: 14px;
  color: #666666;
  line-height: 30px;
}
a {
  text-decoration: none !important;
}
ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}

a.filled-button {
  background-color: #a4c639;
  color: #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 12px 30px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
}

a.filled-button:hover {
  background-color: #fff;
  color: #a4c639;
}

a.border-button {
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  padding: 10px 28px;
  border-radius: 30px;
  display: inline-block;
  transition: all 0.3s;
}

a.border-button:hover {
  background-color: #fff;
  color: #a4c639;
}

.section-heading {
  text-align: center;
  margin-bottom: 80px;
}

.section-heading h2 {
  font-size: 36px;
  font-weight: 600;
  color: #1e1e1e;
}

.section-heading em {
  font-style: normal;
  color: #a4c639;
}

.section-heading span {
  display: block;
  margin-top: 15px;
  text-transform: uppercase;
  font-size: 15px;
  color: #666;
  letter-spacing: 1px;
}

#preloader {
  overflow: hidden;
  background: #a4c639;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  position: fixed;
  z-index: 9999999;
  color: #fff;
}

#preloader .jumper {
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  display: block;
  position: absolute;
  margin: auto;
  width: 50px;
  height: 50px;
}

#preloader .jumper > div {
  background-color: #fff;
  width: 10px;
  height: 10px;
  border-radius: 100%;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  position: absolute;
  opacity: 0;
  width: 50px;
  height: 50px;
  -webkit-animation: jumper 1s 0s linear infinite;
  animation: jumper 1s 0s linear infinite;
}

#preloader .jumper > div:nth-child(2) {
  -webkit-animation-delay: 0.33333s;
  animation-delay: 0.33333s;
}

#preloader .jumper > div:nth-child(3) {
  -webkit-animation-delay: 0.66666s;
  animation-delay: 0.66666s;
}

@-webkit-keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

@keyframes jumper {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }
  5% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Fun Facts */

.fun-facts {
  position: relative; /* Necesario para que el pseudo-elemento se posicione correctamente */
  background-image: url(../../image/counter.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  padding: 140px 0px;
  color: #fff;
  border-radius: 10px;
  overflow: hidden; /* Asegura que el pseudo-elemento no se salga de los bordes redondeados */
}

.fun-facts::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Capa oscura con 50% de opacidad */
  z-index: 1; /* Coloca el velo detrás del contenido */
  border-radius: 10px; /* Asegura que los bordes del pseudo-elemento coincidan con los de .fun-facts */
}

/* Asegúrate de que el contenido esté en el frente */
.fun-facts > * {
  position: relative;
  z-index: 2;
}

.fun-facts span {
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  letter-spacing: 1px;
  margin-bottom: 10px;
  display: block;
}

.fun-facts h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 35px;
}

.fun-facts em {
  font-style: normal;
  color: #a4c639;
}

.fun-facts p {
  color: #fff;
  margin-bottom: 40px;
}

.fun-facts .left-content {
  margin-right: 45px;
}

.count-area-content {
  text-align: center;
  background-color: rgba(250, 250, 250, 0.1);
  padding: 25px 30px 35px 30px;
  margin: 15px 0px;
}

.count-digit {
  margin: 5px 0px;
  color: #a4c639;
  font-weight: 700;
  font-size: 36px;
}
.count-title {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  letter-spacing: 0.5px;
}
