html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  border: none;
  color: #444;
  position: relative;
}
* {
  font-family: "Lexend", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0px 0px 10px;
  color: #272727;
  text-transform: uppercase;
}

h4 {
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

h3 {
  font-size: 26px;
}

p {
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 25px;
  color: #727272;
  font-weight: 400;
}
a {
  color: #7ec13f;
  background: none;
  text-decoration: none;
  outline: none;
}

a:hover,
a:active,
a:focus {
  color: #f5514b;
  text-decoration: none;
  outline: none;
}

::selection {
  background: #f5514b;
  color: #fff;
}

::-moz-selection {
  background: #f5514b;
  color: #fff;
}

img {
  max-width: 100%;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.form-control {
  display: inline-block;
  margin-bottom: 20px;
  font-size: 15px;
  line-height: 25px;
  color: #484444;
  height: 46px;
  width: 100%;
  vertical-align: middle;
  box-shadow: none;
  border-radius: 0px;
  transition: all 200ms ease-in 0s;
  background: rgba(255, 255, 255, 0) none repeat scroll 0% 0%;
  border: 2px solid rgba(236, 240, 241, 0.58);
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.form-control:focus {
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  border-color: #fff !important;
}

/*-----------------------------------------------------------------*/
/* Common Elements
/*-----------------------------------------------------------------*/

::-webkit-input-placeholder {
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 1px;
}

:-moz-placeholder {
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 1px;
}

::-moz-placeholder {
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 1px;
}

:-ms-input-placeholder {
  color: #fff !important;
  font-weight: 600;
  letter-spacing: 1px;
}

.clear {
  clear: both;
}

.scrollup {
  width: 35px;
  height: 35px;
  position: fixed;
  bottom: 30px;
  right: 15px;
  display: none;
  background: rgba(126, 193, 63, 0.8);
  text-align: center;
}

.scrollup i {
  color: #fff;
  font-size: 15px;
  display: block;
  line-height: 33px;
}

.scrollup:hover {
  background: rgba(126, 193, 63, 0.9);
}

.section {
  padding: 100px 0 70px;
  position: relative;
}

.section .container {
  position: relative;
}

.title-box {
  border-bottom-width: 0px;
  margin-bottom: 75px;
  position: relative;
}

.title-box h2.title {
  font-weight: 700;
  font-size: 29px;
  line-height: 32px;
  text-transform: uppercase;
}

.title-box h2:before {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  margin: -22px auto;
  position: absolute;
  width: 40px;
  background: #00aab3;
}

.title-box.white h2.title:before {
  background: #fff;
}

.title-box.white h2.title {
  color: #fff;
}

.title-box.text-center h2:before {
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 0;
  right: 0;
  margin: -22px auto;
  position: absolute;
  width: 40px;
  background: #575051;
}

.title-box.text-right:before {
  left: auto;
  right: 0;
}

.title-box.text-center:before {
  left: 50%;
  margin-left: -20px;
}

.color-white h2 {
  color: #fff !important;
}

#pageloader {
  width: 100%;
  height: 100%;
  position: fixed;
  background-color: #fff;
  z-index: 999999;
}

.loader {
  position: absolute;
  width: auto;
  height: auto;
  margin: -25px 0 0 -25px;
  top: 50%;
  left: 50%;
  text-align: center;
}

.overlay {
  background: rgba(0, 0, 0, 0.4) url("../images/pattern.png") repeat;
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

section {
  position: relative;
}

.parallax .container {
  position: relative;
}

.parallax {
  background-attachment: fixed !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

/*-----------------------------------------------------------------*/
/* Buttons
/*-----------------------------------------------------------------*/

.btn {
  box-shadow: none;
  line-height: 22px;
  font-weight: 600;
  padding: 6px 23px;
  font-size: 15px;
  border-radius: 20px;
  border: 2px solid transparent;
  color: #262b37;
  transition: all 200ms ease 0s;
}

.btn-red {
  background: rgb(243, 88, 91);
  border-color: rgb(243, 88, 91);
  color: #fff;
}
.btn-red:hover,
.btn-red:focus {
  background: #fff;
  border-color: FFFF;
  color: #000;
}

.btn-white {
  background: #fff;
  border-color: FFFF;
  color: #5f5a5a;
}

.btn-white:hover,
.btn-white:focus {
  color: #fff;
  background: #7ec13f;
  border-color: #7ec13f;
}

.btn-gray-border:hover,
.btn-gray-border:focus {
  color: #fff;
  background: rgb(243, 88, 91);
  border-color: rgb(243, 88, 91);
}

.btn-green {
  background: #7ec13f;
  border-color: #7ec13f;
  color: #fff;
}

.btn-green:hover,
.btn-green:focus {
  color: #fff;
  background: transparent;
  border-color: #fff;
}

.btn-gray-border {
  border: 2px solid #7a7a7b;
  background: transparent;
  color: #4f4f50;
}

.btn-gray-border:hover,
.btn-gray-border:focus {
  color: #fff;
  background: #7ec13f;
  border-color: #7ec13f;
}

/*-----------------------------------------------------------------*/
/* spacing & margin
/*-----------------------------------------------------------------*/

.margin-top-5 {
  margin-top: 5px !important;
}

.margin-top-10 {
  margin-top: 10px !important;
}

.margin-top-15 {
  margin-top: 15px !important;
}

.margin-top-20 {
  margin-top: 20px !important;
}
.margin-top-25 {
  margin-top: 25px !important;
}

.margin-top-30 {
  margin-top: 30px !important;
}

.margin-top-35 {
  margin-top: 35px !important;
}

.margin-top-40 {
  margin-top: 40px !important;
}

.margin-top-45 {
  margin-top: 45px !important;
}

.margin-top-50 {
  margin-top: 50px !important;
}

.no-margin-bottom {
  margin-bottom: opx !important;
}

.margin-bottom-5 {
  margin-bottom: 5px !important;
}

.margin-bottom-10 {
  margin-bottom: 10px !important;
}

.margin-bottom-15 {
  margin-bottom: 15px !important;
}

.margin-bottom-20 {
  margin-bottom: 20px !important;
}

.margin-bottom-25 {
  margin-bottom: 25px !important;
}

.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.margin-bottom-35 {
  margin-bottom: 35px !important;
}

.margin-bottom-40 {
  margin-bottom: 40px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}

.margin-bottom-50 {
  margin-bottom: 50px !important;
}
.margin-bottom-60 {
  margin-bottom: 60px !important;
}

.margin-bottom-70 {
  margin-bottom: 70px !important;
}

.margin-bottom-80 {
  margin-bottom: 80px !important;
}

.margin-bottom-90 {
  margin-bottom: 90px !important;
}

.margin-left-5 {
  margin-left: 5px !important;
}
.margin-left-10 {
  margin-left: 10px !important;
}
.margin-left-15 {
  margin-left: 15px !important;
}

.margin-left-20 {
  margin-left: 20px !important;
}

.margin-left-25 {
  margin-left: 25px !important;
}

.margin-left-30 {
  margin-left: 30px !important;
}

.margin-left-90 {
  margin-left: 90px !important;
}

.margin-right-5 {
  margin-right: 5px !important;
}

.margin-right-10 {
  margin-right: 10px !important;
}

.margin-right-15 {
  margin-right: 15px !important;
}

.margin-right-20 {
  margin-right: 20px !important;
}

.margin-right-25 {
  margin-right: 25px !important;
}

.margin-right-30 {
  margin-right: 30px !important;
}

.padding-top-5 {
  padding-top: 5px;
}

.padding-top-10 {
  padding-top: 10px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-top-20 {
  padding-top: 20px;
}

.padding-top-25 {
  padding-top: 25px;
}

.padding-top-30 {
  padding-top: 30px;
}

.padding-top-35 {
  padding-top: 35px;
}

.padding-top-40 {
  padding-top: 40px;
}

.padding-top-45 {
  padding-top: 45px;
}

.padding-top-50 {
  padding-top: 50px;
}

.padding-top-55 {
  padding-top: 55px;
}

.padding-top-60 {
  padding-top: 60px;
}

.padding-top-70 {
  padding-top: 70px;
}

.padding-top-80 {
  padding-top: 80px;
}

.padding-top-90 {
  padding-top: 90px;
}

.padding-top-100 {
  padding-top: 100px;
}

.padding-bottom-5 {
  padding-bottom: 5px;
}

.padding-bottom-10 {
  padding-bottom: 10px;
}

.padding-bottom-15 {
  padding-bottom: 15px;
}

.padding-bottom-20 {
  padding-bottom: 20px;
}

.padding-bottom-25 {
  padding-bottom: 25px;
}

.padding-bottom-30 {
  padding-bottom: 30px;
}

.padding-bottom-35 {
  padding-bottom: 35px;
}

.padding-bottom-40 {
  padding-bottom: 40px;
}

.padding-bottom-45 {
  padding-bottom: 45px;
}

.padding-bottom-50 {
  padding-bottom: 50px;
}

.padding-bottom-55 {
  padding-bottom: 55px;
}

.padding-bottom-60 {
  padding-bottom: 60px;
}

.padding-bottom-70 {
  padding-bottom: 70px;
}

.padding-bottom-80 {
  padding-bottom: 80px;
}

.padding-bottom-90 {
  padding-bottom: 90px;
}

.padding-bottom-100 {
  padding-bottom: 100px;
}

.padding-5 {
  padding: 5px;
}

.padding-10 {
  padding: 10px;
}

.padding-15 {
  padding: 15px;
}

.padding-20 {
  padding: 20px;
}

.padding-25 {
  padding: 25px;
}

.padding-30 {
  padding: 30px;
}

/*-----------------------------------------------------------------*/
/* Navigation
/*-----------------------------------------------------------------*/

#header {
  top: 0;
  z-index: 500;
  width: 100%;
  position: fixed;
  z-index: 99999;
}

#main-menu {
  z-index: 300;
  visibility: visible;
}

.menu-bg {
  background: #202020;
}

#main-menu ul {
  display: block;
  width: 100%;
  text-align: center;
}

#main-menu ul li {
  display: inline-block;
  position: relative;
}

#main-menu ul li a {
  display: inline-block;
  padding: 6px 10px;
  line-height: 60px;
  color: #fff;
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
  transition: all 0.25s ease 0s;
}

#main-menu ul li a:hover {
  color: #fff;
}

#main-menu ul.nav > li > a:hover,
#main-menu ul.nav > li > a:focus {
  background: none;
}

#main-menu ul li.active > a,
#main-menu ul li.active.has-child > a {
  color: #fff;
  box-shadow: inset 0 -2px 0 #fff;
}

.clear-toggle {
  display: none;
  clear: both;
}

.navbar-toggle {
  color: #fff;
  margin-top: 4px;
  font-size: 32px;
  margin-bottom: 0px;
  padding-top: 9px;
  position: absolute;
  right: 0px;
  padding-right: 0;
}

.logo {
  width: 100% !important;
  height: 100% !important;
}

.logo-nav {
  float: left;
  line-height: 60px;
}

/*-----------------------------------------------------------------*/
/* Slider
/*-----------------------------------------------------------------*/

.home {
  overflow: hidden;
}

.home .slides {
  display: inline-block;
  width: 100%;
}

.home .flexslider {
  overflow: hidden;
}

.big {
  font-size: 50px;
  font-weight: bold;
  line-height: 70px;
  text-transform: uppercase;
  margin: 6px -10px;
  color: #fff;
}

.small {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
  margin: 30px 0px 0px;
  text-transform: uppercase;
  font-weight: 600;
}

.home .flexslider .slides img {
  background-position: center 0;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
}

.home .flexslider .slides img.parallax {
  background-attachment: fixed;
}

.flexslider.video img {
  background: none !important;
}

#video_player {
  bottom: 0;
  height: auto;
  min-height: 100%;
  min-width: 100%;
  position: absolute;
  right: 0;
  width: auto;
}

.slider-text-wrapper {
  position: absolute;
  width: 100%;
  height: 250px;
  top: 50%;
  left: 0;
  margin-top: -125px;
  text-align: center;
  z-index: 999;
}

.slider-text-wrapper .btn {
  margin-top: 60px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
}

.flex-control-nav {
  bottom: 40px;
  z-index: 999;
  position: absolute;
  width: 100%;
  text-align: center;
}

.flex-control-nav li {
  display: inline-block;
}

.flex-control-paging li a {
  width: 6px !important;
  height: 6px !important;
  box-shadow: none !important;
  background: #fff !important;
  display: inline-block !important;
  text-indent: -9999px !important;
  border-radius: 50% !important;
  margin: 0 6px !important;
  cursor: pointer !important;
  z-index: 9999 !important;
}

.flex-control-paging li a.flex-active {
  background: #18263a;
}

.flexslider {
  position: relative;
}

.flex-prev {
  color: #333;
  font-size: 40px;
  height: 40px;
  left: 20px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 2;
}

.home .flex-prev,
.home .flex-next {
  color: #fff;
  transition: none 0s ease 0s;
  z-index: 999;
}

.flex-next {
  color: #333;
  font-size: 40px;
  height: 40px;
  right: 0px;
  margin-top: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
  z-index: 2;
}
.home .flex-prev,
.home .flex-next {
  color: #fff;
  transition: none;
}

#home {
  width: 100%;
  height: 100%;
  color: #fff;
}

.slider-overlay {
  background: url("../images/pattern.png") repeat rgba(0, 0, 0, 0.4);
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
}

/*-----------------------------------------------------------------*/
/*  Flexslider
/*-----------------------------------------------------------------*/

.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus {
  outline: none;
}

.slides,
.flex-control-nav,
.flex-direction-nav {
  margin: 0;
  padding: 0;
  list-style: none;
}

.flexslider {
  margin: 0;
  padding: 0;
}

.flexslider .slides > li {
  display: none;
  -webkit-backface-visibility: hidden;
}

.flexslider .slides img {
  width: 100%;
  display: block;
  height: 630px;
}

.flex-pauseplay span {
  text-transform: capitalize;
}

.slides:after {
  content: "\0020";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

html[xmlns] .slides {
  display: block;
}

* html .slides {
  height: 1%;
}

.no-js .slides > li:first-child {
  display: block;
}

.flex-control-nav {
  position: absolute;
  bottom: 20px;
  text-align: center;
  width: 100%;
}

.flex-control-nav li {
  margin: 0 3px;
  display: inline-block;
}

.flex-control-nav li a {
  width: 30px;
  height: 5px;
  background: #fff;
  text-indent: -9999px;
  display: block;
  opacity: 0.4;
}

.flex-control-nav li a.flex-active {
  opacity: 1;
}

.flex-direction-nav .flex-prev:hover,
.flex-direction-nav .flex-next:hover {
  opacity: 1;
}

/*-----------------------------------------------------------------*/
/* About
/*-----------------------------------------------------------------*/

.features-icon-box {
  margin-bottom: 50px;
}

.features-icon-box .features-icon {
  position: absolute;
  width: 60px;
  height: 60px;
  line-height: 41px;
  font-size: 45px;
  color: #7ec13f;
}

.features-icon-box .features-info {
  margin-left: 80px;
}

/*-----------------------------------------------------------------*/
/* Fun Facs
/*-----------------------------------------------------------------*/

#facts {
  background: url(../images/parallax/facts.jpg) no-repeat;
  padding: 150px 0px 100px;
}

.facts-box {
  text-align: center;
}

.facts-box h3 {
  font-size: 40px;
  margin-bottom: 12px;
  color: #fff;
  font-weight: 700;
}

.facts-box span {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
}

.facts-box i {
  color: #fff;
  font-size: 50px;
  margin-bottom: 30px;
}

/*-----------------------------------------------------------------*/
/* Tab
/*-----------------------------------------------------------------*/

.desarrollos {
  color: #1a2157;
  margin-bottom: 60px;
}
.content-tab-1 .nav {
  text-align: center;
  text-transform: uppercase;
}

.content-tab-1 > .nav > li {
  float: none;
  display: inline-block;
  border: 2px solid #b1aeae;
  padding: 3px 20px;
  box-shadow: 0px 0px 2px #f2f2f2;
  margin-bottom: 5px;
}

.content-tab-1 > .nav li > a {
  color: #cfd9e6;
  background-color: transparent;
  transition: all 0.2s ease 0s;
}

.content-tab-1 > .nav li > a > i {
  color: #474846;
  font-size: 35px;
  margin-bottom: 10px;
}

.content-tab-1 > .nav > li > a > h4 {
  display: block;
  color: #4d3f3f;
  font-size: 16px;
  margin-bottom: 0px;
}

.content-tab-1 > .nav > li.active > a > h4,
.content-tab-1 > .nav > li.active > a > i {
  color: #fff;
}

.content-tab-1 > .nav > li.active {
  border: 2px solid #212756;
  background: #aecb4b;
}

.tab-content-main {
  padding: 70px 0px 0px;
}

.tab-content-main img {
  float: left;
  margin-right: 75px;
}

.tab1-features {
  margin-bottom: 30px;
}

.tab1-features .icon {
  position: absolute;
  width: 40px;
  height: 40px;
  background: #aecb4b;
  border-radius: 5px;
  color: #fff;
  text-align: center;
  line-height: 35px;
  font-size: 20px;
  border: 2px solid transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.tab1-features:hover .icon {
  border-color: #aecb4b;
  color: #aecb4b;
  background: transparent;
}

.tab1-features .info {
  margin-left: 60px;
}

.tab-carousel.owl-theme .owl-controls {
  text-align: center;
  color: #1c2252;
  position: absolute;
  top: 50%;
  width: 100%;
}

.tab-carousel.owl-theme .owl-controls .owl-buttons div {
  display: block;
  width: 30px;
  height: 30px;
  line-height: 20px;
  font-size: 20px;
  border-radius: 6px;
  opacity: 1;
  background: #00aab3;
  position: absolute;
  margin: 0;
}

.tab-carousel .owl-prev {
  left: 0;
  position: absolute;
}

p {
  justify-content: justify;
}

.tab-carousel .owl-next {
  right: 0;
  position: absolute;
}
.tab-carousel .owl-prev:hover,
.tab-carousel .owl-next:hover {
  background: #4f3b3b;
}

.tab-carousel .item img {
  display: block;
  width: 100%;
  height: 500px;
}

.tab2-services-box {
  margin-bottom: 30px;
  padding: 15px;
  border: 1px solid #e1dddd;
}
.tab2-services-box .media {
  margin-bottom: 30px;
}

.tab2-services-box .services-info p {
  margin-bottom: 0;
}

.features-tab3 {
  margin-top: 20px;
  display: inline-block;
}

.features-tab3 .features-left,
.features-tab3 .features-right {
  padding-top: 20px;
}

.features-tab3 .features-left h4,
.features-tab3 .features-right h4,
.features-tab3 .features-left p,
.features-tab3 .features-right p {
  line-height: 25px;
}

.features-tab3 .features-left .features-item,
.features-tab3 .features-right .features-item {
  margin-bottom: 40px;
}

.features-tab3 .features-left .features-icon,
.features-tab3 .features-right .features-icon {
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  color: #7ec13f;
  font-size: 22px;
  font-weight: 600;
  border: 1px solid #7ec13f;
  position: relative;
  border-radius: 28px;
  transition: all 0.7s ease-in-out 0s;
}

.features-tab3 .features-left .features-item:hover .features-icon,
.features-tab3 .features-right .features-item:hover .features-icon {
  color: #fff;
  border-color: #7ec13f;
  background: #7ec13f;
}

.features-tab3 .features-left .features-icon {
  float: right;
}

.features-tab3 .features-right .features-icon {
  float: left;
}

.features-tab3 .features-left .features-info {
  text-align: right;
  margin-right: 90px;
}

.features-tab3 .features-right .features-info {
  text-align: left;
  margin-left: 90px;
}

.tab4-services-box {
  margin-bottom: 30px;
  text-align: center;
}

.tab4-services-box .icon {
  text-align: center;
  font-size: 47px;
  display: inline-block;
  color: #7ec13f;
  width: 100px;
  height: 100px;
  border: 1px solid #7ec13f;
  line-height: 100px;
  border-radius: 50%;
  margin-bottom: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.7s ease-in-out;
  -ms-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
}

.tab4-services-box .info {
  margin-top: 20px;
}

.tab4-services-box .info h4 {
  margin-bottom: 14px;
}

.tab4-services-box:hover .icon {
  background: #7ec13f;
  color: #fff;
  border-color: #7ec13f;
}

.core-features .list {
  margin: 0px;
  padding: 0px 0px 0px 7px;
}

.core-features .list li {
  font-size: 15px;
  margin: 0px 0px 12px;
  font-weight: 600;
  line-height: 20px;
  position: relative;
  padding: 0px 7px 5px 10px;
  list-style: outside none none;
  color: #6e6d6d;
}

@media (min-width: 992px) and (max-width: 1024px) {
  .navbar-right {
    float: none !important;
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .thumnail-img {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .thumnail-img {
    width: 50%;
  }
}

@media (max-width: 550px) {
  .thumnail-img {
    width: 100%;
  }
}

@media (max-width: 480px) {
  .big {
    font-size: 35px;
    line-height: 52px;
  }

  .small {
    font-size: 19px;
  }
}

@media (min-width: 992px) {
  #main-menu.collapse {
    display: block !important;
  }
}

@media (max-width: 992px) {
  #main-menu {
    background: #202020;
  }

  .navbar-right {
    float: none !important;
    margin-right: 0px !important;
  }

  .clear-toggle {
    display: block;
  }

  .navbar-toggle {
    display: block !important;
  }

  #main-menu ul li {
    display: block;
    text-align: left;
  }

  #main-menu ul li a {
    line-height: 23px;
    display: inherit;
    border-bottom: 1px solid #2c2c2c;
    padding: 5px 20px;
    background: transparent;
  }

  #main-menu ul li a:hover,
  #main-menu ul li.active a {
    background: #2c2c2c !important;
    color: #fff;
  }

  #main-menu ul li.active > a {
    box-shadow: none !important;
  }
}
